body, ul, li {
    font-size:14px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height:21px;
    text-align:left;
}

#menu {
    list-style:none;
    width:980px;
    margin:1px auto 0px auto; /*отступ сверху*/
    height:43px;
    padding:0px 20px 0px 20px;

    /* Скругленные углы */
    
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    /* Цвет фона и градиенты */
    
    /*background: #014464;*/
    background: #BBBBBB;
    /*background: -moz-linear-gradient(top, #0272a7, #013953);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));*/
    
    /* Границы */
    
    border: 1px solid #002232;

    -moz-box-shadow:inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow:inset 0px 0px 1px #edf9ff;
    box-shadow:inset 0px 0px 1px #edf9ff;
}

#menu li {
    float:left;
    display:block;
    text-align:center;
    position:relative;
    padding: 4px 10px 4px 10px;
    margin-right:20px;
    margin-top:7px;
    border:none;
}

#menu li:hover {
    border: 1px solid #777777;
    padding: 4px 9px 4px 9px;
    
    /* Цвет фона и градиенты */
    
    /*background: #F4F4F4;*/
    background: #A00000;
    /*background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));*/
    
    /* Скругленные углы */
    
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

#menu li a {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:14px; 
    color: #000;
    display:block;
    outline:0;
    text-decoration:none;
    /*text-shadow: 1px 1px 1px #000;*/
}

#menu li:hover a {
    color:#161616;
    text-shadow: 1px 1px 1px #ffffff;
}
#menu li .drop {
    padding-right:21px;
    background:url("img/drop.png") no-repeat right 8px;
}
#menu li:hover .drop {
    background:url("img/drop.png") no-repeat right 7px;
}

.dropdown_3lettercolumn,
.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns,
.dropdown_6columns  {
 z-index:100;
    margin:4px auto;
     float:left;
    position:absolute;
    left:-999em; /*Скрываем выпадающие пункты */
    text-align:left;
    padding:10px 5px 10px 5px;
    border:1px solid #777777;
    /*border-top:none;*/
    
    /* Фон с градиентом */
    background:#F4F4F4;
    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

    /* Скругленные углы */
    -moz-border-radius: 0px 5px 0px 0px;
    -webkit-border-radius: 0px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
}

.dropdown_3lettercolumn {width: 150px;}
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}
.dropdown_6columns {width: 840px;}

#menu li:hover .dropdown_3lettercolumn,
#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns,
#menu li:hover .dropdown_6columns {
    left:-1px;
    top:auto;
}
.col_0,
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline-block;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_0 {width:40px;}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu li .align_right {
    /* Скругленные углы */
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
}

#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height:21px;
    font-size:12px;
    text-align:left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}

#menu li:hover div a {
    font-size:12px;
    color:#015b86;
}
#menu li:hover div a:hover {
    color:#029feb;
}


.strong {
    font-weight:bold;
}
.italic {
    font-style:italic;
}

.imgshadow { /* Лучший стиль для легкого фона */
    background:#FFFFFF;
    padding:4px;
    border:1px solid #777777;
    margin-top:5px;
    -moz-box-shadow:0px 0px 5px #666666;
    -webkit-box-shadow:0px 0px 5px #666666;
    box-shadow:0px 0px 5px #666666;
}
.img_left { /* Изображения прижимаются влево */
    width:auto;
    float:left;
    margin:5px 15px 5px 5px;
}

.img_right { /* Изображения прижимаются влево */
    width:auto;
    float:right;
    margin:5px 5px 5px 15px;
}


#menu li .black_box {
    background-color:#333333;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;

    /* Скругленные углы */
    -moz-border-radius: 5px; 5px; 0px; 0px;
    -webkit-border-radius: 5px; 5px; 0px; 0px;
    border-radius: 5px; 5px; 0px; 0px;

    /* Тень */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}


#menu li .green_box {
    background-color:green;
    color: #eeeeee;
    text-shadow: 1px 1px 1px #000;
    padding:4px 6px 4px 6px;

    /* Скругленные углы */
    -moz-border-radius:  5px; 5px; 0px; 0px;
    -webkit-border-radius:  5px; 5px; 0px; 0px;
    border-radius:  5px; 5px; 0px; 0px;

    /* Тень */
    -webkit-box-shadow:inset 0 0 3px #000000;
    -moz-box-shadow:inset 0 0 3px #000000;
    box-shadow:inset 0 0 3px #000000;
}



#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu li ul li {
    font-size:12px;
    line-height:24px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:130px;
}



#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
}

#menu li .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:116px;


    /* Скругленные углы */
       -moz-border-radius: 5px; 5px; 0px; 0px;
       -webkit-border-radius: 5px; 5px; 0px; 0px;
       -khtml-border-radius: 5px; 5px; 0px; 0px;
       border-radius: 5px; 5px; 0px; 0px;
    white-space:normal;
}
#menu li .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;


}

#menu li .dropdown_3lettercolumn .greybox li {
    background:#F4F4F4;
    border:1px solid #bbbbbb;
    margin:0px 0px 4px 0px;
    padding:4px 6px 4px 6px;
    width:30px;


    /* Скругленные углы */
       -moz-border-radius: 5px; 5px; 0px; 0px;
       -webkit-border-radius: 5px; 5px; 0px; 0px;
       -khtml-border-radius: 5px; 5px; 0px; 0px;
       border-radius: 5px; 5px; 0px; 0px;
    white-space:normal;
}

#menu li .dropdown_3lettercolumn .greybox li:hover {
    background:#ffffff;
    border:1px solid #aaaaaa;
    padding:4px 6px 4px 6px;
    margin:0px 0px 4px 0px;


}

#menu  li ul li > ul {   /* Third Level & beyond */
    display:none;
    background:#068;
}


#menu > li ul li:hover > ul{
    display:block;
    position:absolute;
    left:-50%;
    border-left:solid 3px #fff;
    top:80%;
    width:auto;
    z-index:101;
}

#menu > li ul li:hover > ul .submenu_rightalign {
    left:-2000%;
    right:-1px;
    top:auto;
}

#menu > li  ul > li ul > li{
    display:block;
    padding:3px 10px;
    border-top:solid 3px #fff;
    white-space:normal;
}
#menu > li  ul > li ul > li:hover > span{
    color:#fff;

}

div#ads2154 {
position:absolute;
bottom: -18px;
left:15%
}


/* скрываем чекбоксы и блоки с содержанием */
.taghide {
    display: none; 
}
.taghide + label ~ div {
    display: none;
}
/* оформляем текст label */
.taghide + label {
    display: inline-block; 
}
/* вид текста label при активном переключателе */

/* когда чекбокс активен показываем блоки с содержанием  */
.taghide:checked + label + div {
    display: block; 
}

.hashes_header {
    margin: 2em 0 0 0;
    font-weight: bold;
}
.hashes_header, .hashes {
    color: gray;
    font-size: 70%;
}
.hashes {
    width: 100%;
    border-collapse: collapse;
}
.hashes TH, .hashes TD {
    vertical-align: top;
}
.hashes TH {
    font-weight: normal;
}
.hashes TD {
    font-family: "Consolas", monospace;
    font-size: 1em;
}
